
BitcoinTicker/BitcoinTicker/Model/Private\.swift

PrivateChat/PrivateChat/GoogleService-Info\.plist

*.mlmodel

Sudoku/Sudoku/ImageRecognitionMaster3\.swift

SeeFood/SeeFood/Model/Private\.swift

AR Card/Libraries/libiPhone-lib\.a

AR Card/Libraries/

Sudoku/Sudoku\.xcodeproj/xcuserdata/

Sudoku/Sudoku\.xcodeproj/project\.xcworkspace/

PrivateChat/PrivateChat\.xcworkspace/xcuserdata/

Xilophone/Xilophone\.xcodeproj/project\.xcworkspace/

ArDicee/ArDicee\.xcodeproj/project\.xcworkspace/xcuserdata/

SeeFood/SeeFood\.xcodeproj/project\.xcworkspace/xcuserdata/gulnazalmuhametova\.xcuserdatad/UserInterfaceState\.xcuserstate

*.xcuserstate

Magic8Ball/Magic8Ball\.xcodeproj/xcuserdata/gulnazalmuhametova\.xcuserdatad/xcdebugger/

Xilophone/Xilophone\.xcodeproj/xcuserdata/gulnazalmuhametova\.xcuserdatad/xcdebugger/

SeeFood/SeeFood\.xcodeproj/xcuserdata/gulnazalmuhametova\.xcuserdatad/xcdebugger/

Mojo/Mojo\.xcworkspace/xcuserdata/gulnazalmuhametova\.xcuserdatad/xcdebugger/
